.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1005;
}

.Modal {
    background: white;
    border-radius: 20px;
    padding: 35px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 1006;
}

.modalView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalText {
    margin-bottom: 10px;
    font-size: 24px;
}

.textInputStyle {
    width: 100%;
    margin: 12px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}